///
// Skin: stm32python
// Author: Bertrand Baudeur
// Email: baudeurbertrand@yahoo.fr
///

// main colors
$main-color-1:     #104071;
$text-color-1:     rgba(#fff, .85);

$main-color-2:     #104071;
$text-color-2:     rgba(#fff, .85);

$main-color-3:     #adadad;
$text-color-3:     rgba(#fff, .85);

$main-color-theme-light: rgba(#000, .9);
$main-color-theme-dark:  rgba(#fff, .9);

// page background
$background-color: #ffffff;

// text colors
$text-color-theme-light-d: rgba(#000, .95);
$text-color-theme-light:   rgba(#000, .85);
$text-color-theme-light-l: rgba(#000, .5);

$text-color-theme-dark-d:  #fff;
$text-color-theme-dark:    rgba(#fff, .95);
$text-color-theme-dark-l:  rgba(#fff, .85);

$text-color-d:     $text-color-theme-light-d;
$text-color:       $text-color-theme-light;
$text-color-l:     $text-color-theme-light-l;

$text-background-color: rgba(#000, .05);

// header and footer colors
$header-text-color: $text-color-2;
$header-background: #64b7e6;

$footer-text-color: $text-color-3;
$footer-background: #052449;

// border and shadow colors
$border-color:     $main-color-3;
$border-color-l:   mix(#000, $background-color, 10%);
$decorate-color:   rgba(#000, .1);
$mask-color:       rgba(#000, .9);
$select-color:     rgba($main-color-3, .5);

// function colors
$green:           #5baa34;
$blue:            #1c7cd4;
$yellow:          #c9771f;
$red:             #da3d45;
$text-color-function: rgba(#fff, .85);

// logo colors
$mail-color:       #0072c5;
$facebook-color:   #4267b2;
$twitter-color:    #1da1f2;
$weibo-color:      #e6162d;
$google-plus-color:#ea4335;
$telegram-color:   #32afed;
$medium-color:     #000;
$zhihu-color:      #0084ff;
$douban-color:     #42bd56;
$linkedin-color:   #1074af;
$github-color:     #000;
$npm-color:        #fff;

// highlight colors
@import "skins/highlight/tomorrow-night-eighties";
